@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    .containerBox{
        width:85px;
       
    }
}
@media only screen and (min-width:200px) and (max-width:650px) and (orientation:landscape){
    .containerBox{
        width:55px;
       
    }
}
.containerBox {
    width: 500px;
    
    background-color: yellow;
    margin: auto;
    padding: 20px;
}
